.profile_contents {
    margin-top: 150px;
    display: grid;
    grid-template-rows: 1fr, 4fr, 6fr;
    grid-template-columns: 2fr, 2fr, 4fr, 4fr;
}

#profile_title {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(178, 186, 209);
    text-align: center;
    padding-top: 45px;
    font-family: Wendy One;
    letter-spacing: 4px;
    margin-bottom: 150px;
    margin-left: -10px;
    box-shadow: 12px 12px 2px 1px rgba(95, 158, 160, 0.418);
}

#user_info_table {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(184, 188, 201);
    font-family: Happy Monkey;
    padding: 20px;
    margin-top: -100px;
    margin-left: -10px;
    margin-bottom: -56px;
}

#left_profile_section {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1;
    background-color: rgb(184, 188, 201);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 40px;
    border-style: dotted;
    border-color: rgb(178, 186, 209);
    height: 120%;
}

#left_profile_section i, #left_profile_section h2 {
    margin-bottom: 20px;
}

@media  (min-width: 10px) and (max-width: 317px) { 
    #profile_title {
        padding-top: 75px;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;
        width: 90%;
    }

    #user_info_table {
        padding: 0px;
        width: 40%;
    }

    #left_profile_section {
        height: 115%;
    }
}

@media  (min-width: 318px) and (max-width: 535px) { 
    #profile_title {
        padding-top: 75px;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;

    }

    #user_info_table {
        padding: 0px;
    }

    #left_profile_section {
        height: 117%;
    }
}

@media screen and (max-width: 690px) { 
    #profile_title {
        padding-top: 65px;
    }
}