#End_page {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#game_over_header {
  margin-top: 50px;
  font-family: "Press Start 2P";
  letter-spacing: 10px;
  color: red;
  font-size: xxx-large;
 text-align: center;
}

#rank_list {
  background-color: rgb(184, 188, 201);
  margin-top: 30px;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 25px;
  padding-top: 10px;
}

#rank_list h2 {
  font-family: Wendy One;
  font-size: xx-large;
  letter-spacing: 3px;
  margin-top: 25px;
  background-color: rgb(238, 236, 238);
  border-radius: 30px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 15px;
  box-shadow: 5px 10px #b3b2b2;
}

#display_points {
  margin-top: 30px;
  border-radius: 20px;
  background-color: rgb(238, 236, 238);
  margin-left: 35px;
  margin-right: 35px;
  padding: 15px;
  box-shadow: 5px 8px #b3b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#display_points ol li {
  list-style-type: none;
  font-family: Happy Monkey;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#rank_table_data {
  margin-top: 10px;
}

@media (min-width: 1px) and (max-width: 810px) {
  #scores {
    margin-top: 15px;
  }

  #display_points {
    display: flex;
  }
}

#home_btn_section {
  margin-top: 20px;
}

#home_btn {
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 1px) and (max-width: 350px) {
  #End_page {
    width: auto;
  }

  #rank_list h2 {
    font-size: x-large;
  }

  #display_points {
    gap: 10px;
    flex: 1 1 auto;
    min-width: 0;
  }

  #display_points ol li {
    font-size: small;
  }
}

@media (min-width: 700px) and (max-width: 9000px){
  #End_page {
    width: 50%;
  }
  #chat_page {
    width: 50%
  }
}